@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,700;1,400&family=Rubik+Dirt&display=swap');

body, button{
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
}

/* Estilos de botones */
button{
  border-width: 0;
  background-color: #0e52b7d8 ;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px;
}

button:hover{
  cursor:pointer;
}

.botonAzul:disabled{
  background-color: grey ;
  color: lightgrey;
  cursor:not-allowed
}

.botonDanger{
  border-width: 0;
  background-color: #6a0000d8 ;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.botonNegro{
  border-width: 0;
  background-color: #000000d8 ;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
}

/* Estilos de Navbar */
.navBar{
  padding: 20px 50px;
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navBar{
  text-decoration: none;
  color: black;
}

.navBar .logo{
  text-transform: uppercase;
  font-family: 'Rubik Dirt';
  font-size: 3rem;
  color:#722F37;
  text-decoration: none;
}

.navBar .linksContainer{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navBar .links{
  color: black;
}

.navBar .links:hover{
  color: #722F37;
}

/* Estilos de Footer */
.footer{
  position: sticky;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color:lightgrey;
  color: white;
  text-align: center;
}

/* Estilos de Counter */ 
.counterBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.counter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.counter p{
  padding: 10px;
}

.counter .counterButton{
  width: 40px;
  height: 30px;
  padding: 0;
  background-color: black;
}

/* Estilo de Item Detail */

.itemCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 20%;
  margin: 20px;
  padding: 15px;
  border-style: solid;
  border-width: 0.5px;
  border-color: black;
}

.itemList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.itemCard img{
  width: 150px;
  margin-bottom: 20px;
}

.itemCard .tags, a{
  color:#722F37;
  font-weight: 200;
  text-decoration: none;
}

.itemCard .tags:hover{
  text-decoration: underline;
}

.itemCardBotones{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.itemCardBotones a{
  color: white;
  font-weight: bold;
}

.itemDetailContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px;
  padding: 20px;
  width: 60%;
  border: black solid 0.5px;
}

.itemDetailContainer img{
  height: 400px;
}
.itemDetailContainer h1{
  color:rgb(103, 103, 103);
  margin-bottom: 50px;
}

.itemDetailContainer p{
  padding-bottom: 15px;
}

.itemDetailContainer .price{
  color:rgb(103, 103, 103);
  font-weight: 200;
}

.itemDetailCart{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#botonVaciar {
  margin: 10px;
  width: 150px;
  background-color: rgb(139, 34, 34);
}

.cartContainer{
  margin: 50px;
}

.cartContainer table{
  width: 90%;
  padding: 20px;
  text-align: center;
  border-collapse: collapse;
}

.cartTable a{
  color: black
}

.cartTable span{
  cursor: pointer
} 

.cartContainer thead{
 text-transform: uppercase;
 margin-bottom: 10px;
 border-collapse: collapse;
 background-color:whitesmoke;
 height: 80px;
}

.cartContainer tfoot{
  text-align: center;
  height: 80px;
 }

.cartTable img{
  width: 100px;
}

#total{
  text-align: right;
  text-transform: uppercase;
}

.vaciarCarrito{
  width: 90%;
  text-align: right;
}

.cartVacio, .cartVacio p{
  margin-bottom: 50px;
}
