@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,700;1,400&family=Rubik+Dirt&display=swap');

body, button{
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilos de Navbar */
.navBar{
  padding: 20px 50px;
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navBar a{
  text-decoration: none;
  color: black;
}

.navBar a:hover{
  color: #722F37;
}

.navBar .logo a{
  text-transform: uppercase;
  font-family: 'Rubik Dirt';
  font-size: 3rem;
  color:#722F37;
}

.navBar .links{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Estilos de Footer */
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:lightgrey;
  color: white;
  text-align: center;
}

/* Estilos de Counter */ 
.counterBlock, .itemCard{
  text-align: center;
  width: 20%;
  margin-left: 50px;
  padding: 15px;
  border-style: solid;
  border-width: 0.5px;
  border-color: black;
}

.counterBlock button, .itemCard button{
  border-width: 0;
  background-color: #0e52b7d8 ;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.counterBlock button:disabled{
  background-color: grey ;
  color: lightgrey;
  cursor:not-allowed
}

.counter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.counter p{
  padding: 10px;
}

.counter .counterButton{
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: black;
}

.itemCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 20%;
  margin-left: 50px;
  padding: 15px;
  border-style: solid;
  border-width: 0.5px;
  border-color: black;
}

.itemList{
  display: flex;
  flex-direction: row;
}

.itemCard img{
  width: 150px;
}